.left img{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'Odin';
    src: url(Assets/Norse-Bold.otf) format('opentype');
}
.left{
    position:relative;
    width: 30%;
    min-width: 250px;
    font-size: 2rem;

}
.left .lef-logo{
    font-family: 'Odin', sans-serif;

    position: absolute;
    top: 30%;
    background:rgb(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

}

.left .lef-logo img {
    height: 100px;
    width: 100px;
    }
.left .lef-logo h1{
    color: white;
    position: relative;
    margin-top: 70px;
    margin-left: 10px;
}
.left p{
    position: absolute;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.5rem;
    left: 30%;
}

.container{
    display: flex;
    flex:1;
}
.header {
    border: solid 1px black;
    height: 20%;
    width: 100%;
    margin:0;
}
body{
    margin:0;
}
.right{
    display: flex;
    flex-direction: column;
    background-color: #e0e0e02d ;
    width: 70%;

}
.right .top{
    height: 40%;
    width: 100%;
    margin:0;
    overflow: hidden;
}


.form-contaniner{
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: white;
    height:250px;
    border-color: #E5E7EB;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    padding-left:15%;
    text-align: center;
    box-shadow: 10px 10px 5px #88888872;

}
input{
    width:100%;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}
input:focus{
    box-shadow: 10px 10px 5px #88888872;
    
}
input:invalid{
    border-color: red;
}
label,input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.container{
    margin: 0 100px 0 100px;
}
 h1{
    margin-left:15%;

}
form{
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: white;
}

button{
    background-color: #596D48;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin-top: 20px;
    margin-left:15%;
}
div h3{
    margin-left:15%;
}
#button{
    height:20%;
}